{% extends 'rgpd/layout.html.twig' %}

{% block title %}
	Politique de confidentialite
{% endblock %}


{% block body %}


{% embed "components/molecules/rgpd/hero.html.twig" with {
        title : "POLITIQUE DE CONFIDENTIALITÉ"
       } %}
	{% block content %}
		<div class="grid gap-4 grid-cols">
			<h2 class="text-xl font-bold">
				ARTICLE 1 : PRÉAMBULE

			</h2>
			<p>
				La présente politique de confidentialité a pour but d’informer les utilisateurs du site :
			</p>
            <li>
                Sur la manière dont sont collectées leurs données personnelles. Sont considérées comme des données personnelles, toute information permettant d’identifier un utilisateur. A ce titre, il peut s’agir : de ses noms et prénoms, de son âge, de son adresse postale ou email, de sa localisation ou encore de son adresse IP (liste non-exhaustive) ;
            </li>
            <li>
                Sur les droits dont ils disposent concernant ces données ; 
            </li>
            <li>
                Sur la personne responsable du traitement des données à caractère personnel collectées et traitées ; 
            </li>
            <li>
                Sur les destinataires de ces données personnelles ;
            </li>
            <li>
                Sur la politique du site en matière de cookies. 
            </li>
            <p>
            Cette politique complète les mentions légales et les Conditions Générales d’Utilisation consultables par les utilisateurs à l’adresse suivante : 
             Karaisone.fr
            </p>

			<h2 class="text-xl font-bold">
				ARTICLE 2 : PRINCIPES RELATIFS À LA COLLECTE ET AU TRAITEMENT DES DONNÉES PERSONNELLES

			</h2>
			<p>
				Conformément à l’article 5 du Règlement européen 2016/679, les données à caractère personnel sont :
			</p>
            <li>
                Traitées de manière licite, loyale et transparente au regard de la personne concernée ;
            </li>
            <li>
                Collectées pour des finalités déterminées (cf. Article 3.1 des présentes), explicites et légitimes, et ne pas être traitées ultérieurement d'une manière incompatible avec ces finalités ;
            </li>
            <li>
                Adéquates, pertinentes et limitées à ce qui est nécessaire au regard des finalités pour lesquelles elles sont traitées ;
            </li>
            <li>
                Exactes et, si nécessaire, tenues à jour. Toutes les mesures raisonnables doivent être prises pour que les données à caractère personnel qui sont inexactes, eu égard aux finalités pour lesquelles elles sont traitées, soient effacées ou rectifiées sans tarder ; 
            </li>
            <li>
                Conservées sous une forme permettant l'identification des personnes concernées pendant une durée n'excédant pas celle nécessaire au regard des finalités pour lesquelles elles sont traitées ;
            </li>
            <li>
                Traitées de façon à garantir une sécurité appropriée des données collectées, y compris la protection contre le traitement non autorisé ou illicite et contre la perte, la destruction ou les dégâts d'origine accidentelle, à l'aide de mesures techniques ou organisationnelles appropriées. 
            </li>
            <p>
                Le traitement n'est licite que si, et dans la mesure où, au moins une des conditions suivantes est remplie : 
            </p>
            <li>
                La personne concernée a consenti au traitement de ses données à caractère personnel pour une ou plusieurs finalités spécifiques ;
            </li>
            <li>
                Le traitement est nécessaire à l'exécution d'un contrat auquel la personne concernée est partie ou à l'exécution de mesures précontractuelles prises à la demande de celle-ci ;
            </li>
            <li>
                Le traitement est nécessaire au respect d'une obligation légale à laquelle le responsable du traitement est soumis ;
            </li>
            <li>
                Le traitement est nécessaire à la sauvegarde des intérêts vitaux de la personne concernée ou d'une autre personne physique ;
            </li>
            <li>
                Le traitement est nécessaire à l'exécution d'une mission d'intérêt public ou relevant de l'exercice de l'autorité publique dont est investi le responsable du traitement ;
            </li>
            <li>
                Le traitement est nécessaire aux fins des intérêts légitimes poursuivis par le responsable du traitement ou par un tiers, à moins que ne prévalent les intérêts ou les libertés et droits fondamentaux de la personne concernée qui exigent une protection des données à caractère personnel, notamment lorsque la personne concernée est un enfant.
            </li>
			<h2 class="text-xl font-bold">
				ARTICLE 3 : DONNÉES À CARACTÈRE PERSONNEL COLLECTÉES ET TRAITÉES DANS LE CADRE DE LA NAVIGATION SUR LE SITE 
			</h2>
			<h3 class="text-xl font-bold">
				Article 3.1 : Données collectées
			</h3>
			<p>
				Les données personnelles collectées dans le cadre de notre activité sont les suivantes : 
                Nom, prénom, numéro de téléphone, adresse électronique, profession, adresse postale, document administratif.
                La collecte et le traitement de ces données répond aux finalités suivantes : 
			</P>
            <li>Vous informer sur les services pour lesquels vous avez exprimé un intérêt et qui vous sont proposés sur notre site ;
            </li>
            <li>
                Faciliter l’utilisation de nos services ;
            </li>
            <li>
                Personnaliser les informations sur notre site en fonction de vos besoins ;
            </li>
            <li>
                Prendre contact avec vous après renseignement de vos données ;
            </li>
            <li>
                Vous inscrire à une newsletter avec votre consentement, pour vous tenir au courant de nos dernières actualités.
            </li>
            <li>
                Pour l’analyse statistique du taux de fréquentation et d’utilisation de notre site internet ;
            </li>
			<p>
                Améliorer votre expérience et rendre ergonomique notre site internet.
			</p>
            <h3 class="text-xl font-bold">
				Article 3.2 : Mode de collecte des données
			</h3>
			<p>
				Lorsque vous utilisez notre site, sont automatiquement collectées les données suivantes : 
                Adresse I.P, données sur l’historique client (les préférences des clients),
			</p>
			<p>
				D’autres données personnelles sont collectées lorsque vous effectuez les opérations suivantes sur la plateforme : 
			</p>
            <li>Renseignement de notre formulaire de contact ;</li>
            <li>Postuler à une offre d’emploi ;</li>
            <li>Lorsque vous naviguez sur notre site internet et consultez nos services</li>
            <li>L’utilisation d’un de nos services (prise de rendez-vous, demande de devis…).</li>
		<p>
			Elles sont conservées par le responsable du traitement dans des conditions raisonnables de sécurité, pour une durée de : 3 ans.
		</p>
        <p>
            La société est susceptible de conserver certaines données à caractère personnel au-delà des délais annoncés ci-dessus afin de remplir ses obligations légales ou réglementaires.
        </p>
        <h3 class="text-xl font-bold">
            Article 3.3 : Hébergement des données
        </h3>
        <p>
            Le site karaisone.fr est hébergé par : 
            <strong>OVH CLOUD</strong>
            2 rue Kellermann, 59100 Roubaix
            0972101007
        </p>
        
        <h2 class="text-xl font-bold">
				ARTICLE 4 : RESPONSABLE DU TRAITEMENT DES DONNÉES ET DÉLÉGUÉ À LA PROTECTION DES DONNÉES 
			</h2>
			<h3 class="text-xl font-bold">
				Article 4.1 : Le responsable du traitement des données 
			</h3>
			<p>
				Les données à caractère personnelles sont collectées par KARAISONE SARL au capital de 10 000€ dont le numéro d’immatriculation est le 811 137 314
			</P>
            <p>
                Le responsable du traitement des données à caractère personnel peut être contacté de la manière suivante : 
            </p>
            <li>
                Par courrier à l’adresse :  2 Les Maradas Bruns, 95000 PONTOISE
            </li>
            <li>
                Par téléphone, au 0183644467
            </li>
            <li>
                Par mail : <a href="mailto:contact@karaisone.fr">"contact@karaisone.fr"</a> 
            </li>
           
			
            <h3 class="text-xl font-bold">
				Article 4.2 : Le délégué à la protection des données
			</h3>
			<p>
				Le délégué à la protection des données de l’entreprise ou du responsable est :
			</p>
			<p>
				KARAISONE, 2 Les Maradas Bruns 95000 PONTOISE, 0183644467 et/ou 
            <a href="mailto:contact@karaisone.fr">"contact@karaisone.fr"</a> 
			</p>
            <p>
                Si vous estimez, après nous avoir contactés, que vos droits “Informatique et Libertés”, ne sont pas respectés, vous pouvez adresser une information à la CNIL.
            </p>
            <h2 class="text-xl font-bold">
				ARTICLE 5 : LES DROITS DE L’UTILISATEUR EN MATIÈRE DE COLLECTE ET DE TRAITEMENT DES DONNÉES 
			</h2>
			<p>
				Tout utilisateur concerné par le traitement de ses données personnelles peut se prévaloir des droits suivants, en application du règlement européen 2016/679 et de la Loi Informatique et Liberté (Loi 78-17 du 6 janvier 1978) :   
			</P>
            <li>
                Droit d’accès, de rectification et droit à l’effacement des données (posés respectivement aux articles 15, 16 et 17 du RGPD) ;
            </li>
            <li>
                Droit à la portabilité des données (article 20 du RGPD) ;
            </li>
            <li>
                Droit à la limitation (article 18 du RGPD) et à l’opposition du traitement des données (article 21 du RGPD) ; 
            </li>
            <li>
                Droit de ne pas faire l’objet d’une décision fondée exclusivement sur un procédé automatisé ;
            </li>
            <li>
                Droit de déterminer le sort des données après la mort ; 
            </li>
            <li>
                Droit de saisir l’autorité de contrôle compétente (article 77 du RGPD).
            </li>
			<p>
                Pour exercer vos droits, veuillez adresser votre courrier à KARAISONE, 2 Les Maradas Bruns 95000 PONTOISE ou par mail à 
                <a href="mailto:contact@karaisone.fr">"contact@karaisone.fr"</a>
			</p>
            <p>
                Afin que le responsable du traitement des données puisse faire droit à sa demande, l’utilisateur peut être tenu de lui communiquer certaines informations telles que : ses noms et prénoms, son adresse e-mail ainsi que son numéro de compte, d’espace personnel ou d’abonné. 
                Consultez le site cnil.fr pour plus d’informations sur vos droits.
            </p>

            <h2 class="text-xl font-bold">
				ARTICLE 6 : CONDITIONS DE MODIFICATION DE LA POLITIQUE DE CONFIDENTIALITÉ
			</h2>
            <p>
                L’éditeur du site karaisone.fr se réserve le droit de pouvoir modifier la présente Politique à tout moment afin d’assurer aux utilisateurs du site sa conformité avec le droit en vigueur.
            </p>
            <p>
                Les éventuelles modifications ne sauraient avoir d’incidence sur les achats antérieurement effectués sur le site, lesquels restent soumis à la Politique en vigueur au moment de l’achat et telle qu’acceptée par l’utilisateur lors de la validation de l’achat.
            </p>
            <p>
                L’utilisateur est invité à prendre connaissance de cette Politique à chaque fois qu’il utilise nos services, sans qu’il soit nécessaire de l’en prévenir formellement.
            </p>
            <small>
                La présente politique, éditée le 05 Octobre 2023, a été mise à jour le 10 Octobre 2023.
            </small>
	</div>
{% endblock %}{% endembed %}{% endblock %}
