{% extends 'rgpd/layout.html.twig' %}

{% block title %}
   Mentions legales  
   
{% endblock %}

{% block body %}

   {% embed "components/molecules/rgpd/hero.html.twig" with {
        title : "Mention Légales"
       } %}
{% block content %}
   <div class="grid gap-4 grid-cols">
      <h2 class="text-xl font-bold">
         ARTICLE 1 - L'EDITEUR
                         
      </h2>
      <p>
         L’édition et la direction de la publication du Site est assurée par KARAISONE, domiciliée au 2, Les Maradas Bruns, 95000 PONTOISE dont le numéro de téléphone est 0183644467, et l'adresse e-mail contact@karaisone.fr.
         ci-après "L'Editeur".
                         
      </p>
      
      <h2 class="text-xl font-bold">
         ARTICLE 2 - L'HEBERGEUR
                         
      </h2>
      <p>
         L'hébergeur du Site est la société OVH CLOUD, dont le siège social est situé au 2 rue Kellermann, 59100 Roubaix , avec le numéro de téléphone : 0972101007.
                         
      </p>
      <h2 class="text-xl font-bold">
         ARTICLE 3 - ACCES AU SITE
                         
      </h2>
      <p>
         Le Site est accessible en tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption programmée ou non et pouvant découlant d’une nécessité de maintenance.
 
         En cas de modification, interruption ou suspension du Site, l'Editeur ne saurait être tenu responsable.
                         
      </p>
      <h2 class="text-xl font-bold">
         ARTICLE 4 - COLLECTE DES DONNEES
                         
      </h2>
      <p>
      Le Site assure à l'Utilisateur une collecte et un traitement d'informations personnelles dans le respect de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés.
      </P>
      <p>
         En vertu de la loi Informatique et Libertés, en date du 6 janvier 1978, l'Utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur exerce ce droit :
         <p>
            ·         par mail à l'adresse email contact@karaisone.fr 
         </p>   
         <p>   
            ·         via un formulaire de contact
         </p>
      </p>
         
       <p>  
         Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du Site, sans autorisation de l’Editeur est prohibée et pourra entraînée des actions et poursuites judiciaires telles que notamment prévues par le Code de la propriété intellectuelle et le Code civil.
         
         Pour plus d’informations, se reporter aux CGU du site www.karaisone.fr accessible à la rubrique "Conditions d'utilisation"
                         
      </p>

   </div>
{% endblock %}

       
{% endembed %}

{% endblock %}


