{% if form_errors(input) %}
    <span class="inline-block whitespace-nowrap rounded-full bg-danger-100 px-[0.65em] pb-[0.25em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-danger-700">
        {{form_errors(input)}}
    </span>
{% endif %}