{% include "components/atoms/form/errors.html.twig" %}


<div class="relative mb-6" data-te-input-wrapper-init>
    <input type="{{typeInput | default ('text')}}" class="peer block min-h-[auto] w-full rounded border-0 bg-warning-100 py-[0.32rem] px-3 leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0" id="{{ field_name(input) }}" name="{{ field_name(input) }}" value="{{ field_value(input) }}" placeholder="{{ field_label(input) }}"/>

    <label class="pointer-events-none absolute top-0 left-3 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary" for="{{ field_name(input) }}">{{ field_label(input) }}
    </label>
</div>
