{% include "components/atoms/form/errors.html.twig" %}
<div class="py-6">
    <select data-te-select-init name="{{ field_name(input) }}" class="form-control">
        <option value="">{{ field_label(input) }}</option>
        {% for label, value in field_choices(input) %}
            <option value="{{ value }}">{{ label }}</option>
        {% endfor %}
    </select>
</div>
