{% extends 'home/layout.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}
{% block body %}
    {% include "components/molecules/accueil/accueil_hero.html.twig" %}
    {% include "components/molecules/card_images.html.twig" %}
    {% include "components/molecules/home_divider.html.twig" %}
    {% include "components/organisms/partenaires.html.twig" %}
    {% include "components/molecules/accueil/qualifications.html.twig" %}
    {% include "components/molecules/accueil/zone_implantation.html.twig" %}
    {% include "components/molecules/formulaire_commetaires.html.twig" %}
{% endblock %}
