{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    {{ encore_entry_link_tags('home') }}
{% endblock %}
{% block javascripts %}
    {{parent()}}
    {{ encore_entry_script_tags('home') }}
{% endblock %}
{% block alert %}
    {% include "components/atoms/alertSuccess.html.twig"%}
    {% include "components/atoms/alertErrors.html.twig"%}
{% endblock %}
