<div class="hidden lg:block">
    {% embed "components/atoms/footer/footer_title.html.twig" with {
                    text: 'Plan du site',
                } %}
        {% block font %}
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="currentColor" class="mr-3 h-4 w-4">
                <path d="M12.378 1.602a.75.75 0 00-.756 0L3 6.632l9 5.25 9-5.25-8.622-5.03zM21.75 7.93l-9 5.25v9l8.628-5.032a.75.75 0 00.372-.648V7.93zM11.25 22.18v-9l-9-5.25v8.57a.75.75 0 00.372.648l8.628 5.033z"/>
            </svg>
        {% endblock %}
    {% endembed %}
    {% for text in footerButtons %}
        {% include "components/molecules/button_list.html.twig" with {
            content : text.texts,
            id: 'text.id'        
        } %}
    {% endfor %}
</div>
