{% extends 'rejoignez_nous/layout.html.twig' %}

{% block title %}Hello RejoignezNousController!
{% endblock %}

{% block body %}

    {% embed "components/molecules/qui/hero.html.twig" with {
        text:
            "Société Française à responsabilité limitée, KARAISONE est établie à PONTOISE et se spécialise dans les travaux de rénovation intérieur tout corps d'état, l'énergie et les télécommunications.
            KARAISONE a été créée en 2015 de la volonté d'un groupe d'électriciens suite au lancement du projet de déploiement des compteurs LINKY en France.  
            Ce projet nous a fait prendre conscience de l'ampleur que prendrait la transition énergétique et numérique dans les années à venir dans la manière de gérer la consommation énergétique de façon intelligente, numérique et autonome.                   
            Au cours de cette expérience, nous avons compris que nous pouvions allier notre savoir-faire dans l'Energie et les télécommunications à celui de la rénovation immobilière pour proposer des solutions écoresponsables adaptées à la transition énergétique et numérique.",
        title : "Nous rejoindre"
    } %}

        {% block content %}
            <div class="grid gap-4 grid-cols">
                <h2 class="text-xl font-bold">
                    Nos valeurs
                </h2>
                <p>
                    Rejoindre KARAISONE, c'est faire partie des équipes de collaborateurs heureux d'assurer leurs missions au quotidien en partageant des valeurs telles que: le travail, le respect, l'esprit d'équipe et la confiance.
                </p>
                <p>
                    Chez KARAISONE, nous mettons l'accent sur la Qualité de Vie au Travail pour tous nos collaborateurs, de sorte que chacun tire le meilleur de soi même en développant des compétences et qualités humaines et professionnelles.
                </p>
                <h2 class="text-xl font-bold">
                    Formation
                </h2>
                <p>
                    La montée en compétences de nos collaborateurs est au centre de nos préoccupations, nous accompagnons nos salariés pour faire face aux différentes évolutions dans notre secteur d'activité.
                </p>

                <a href="{{path ('app_contact')}}" type="button" data-te-ripple-init data-te-ripple-color="light" class="inline-block w-full rounded bg-amber-700 px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-amber-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-amber-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-amber-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] lg:mb-0">
                    Rejoignez-nous
                </a>
            </div>
        {% endblock %}

        {% block image %}
            <div class="relative overflow-hidden bg-cover bg-no-repeat bg-[50%] bg-[url('../../public/images/carousels/cardImages/pexels-nappy-935949.jpg')] h-[500px]"></div>
        {% endblock %}
    {% endembed %}
    {% include "components/molecules/home_divider.html.twig" %}

{% endblock %}
