{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    {{ encore_entry_link_tags('rejoignezNous') }}
{% endblock %}
{% block javascripts %}
    {{parent()}}
    {{ encore_entry_script_tags('rejoignezNous') }}
{% endblock %}
