<div class="mb-4 flex flex-col justify-center items-center bg-primary-900 py-10"> {% block title %}{% endblock %}
    <img src="{{asset (path)}}" class="h-auto max-w-full rounded-lg" alt="{{alt}}" data-aos="fade-up"/>
</div>
{% if text is defined %}
    <div class="w-100 mx-auto px-6 sm:max-w-2xl md:max-w-3xl md:px-12 lg:max-w-5xl xl:max-w-7xl xl:px-32">
        <div class="text-center">
            <div class="block rounded-lg bg-[hsla(0,0%,100%,0.55)] px-6 py-12 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-[hsla(0,0%,5%,0.55)] dark:shadow-black/20 md:py-16 md:px-12 mt-[-20px] backdrop-blur-[30px]">
                <p class="mb-4 mt-0 text-base font-light leading-relaxed">
                    {{text}}
                </p>
            </div>
        </div>
    </div>
{% endif %}
<div class="mb-4"></div>
