<div class="relative" {# {{text.dropdown is defined ? 'data-te-dropdown-position="dropend"' : ''}} #}>
    <a class="block w-full cursor-pointer rounded-lg p-2 text-left transition duration-500 hover:bg-orange-50 hover:text-neutral-500 focus:bg-neutral-100 focus:text-neutral-500 focus:ring-0 dark:hover:bg-neutral-600 dark:hover:text-neutral-200 dark:focus:bg-neutral-600 dark:focus:text-neutral-200" type="button" {{text.id is defined ? 'id=' ~ text.id : ''}} {# {{ text.dropdown is defined ? 'data-te-dropdown-toggle-ref aria-expanded="false" data-te-ripple-init data-te-ripple-color="light"' : ''}} #} href="{{text.href is defined ? path (text.href) : '#'}}">
        {{content}}

       {#  {% if text.dropdown is defined %}
            <span class="ml-2 w-1.5">
                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="currentColor" class="h-5 w-5">
                    <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd"/>
                </svg>
            </span>
        {% endif %} #}
    </a>
{#     {% if text.dropdown is defined %}
        {% block dropdown %}
            {% include "components/atoms/ul_dropdown_button.html.twig" %}
        {% endblock %}
    {% endif %} #}


</div>
