<div
    data-aos="fade-up" class="my-5 mx-auto md:px-1">
    <section class="mb-32 text-center">
        {% include "components/atoms/section_title.html.twig" with {
            title: 'Nos offres',
        } %}
        <div class="py-10 grid lg:grid-cols-3 md:grid-cols-1 gap-3">
            {% for cardImage in cardImages %}
                {% include "components/atoms/card_image_single.html.twig" with {
                  "path" : cardImage.path,
                  "alt" : cardImage.alt,
                  "title" : cardImage.title,
                  "content" : cardImage.texts,
                  "href": cardImage.href
                } %}
            {% endfor %}
        </div>
    </section>
</div>
