<!-- Container for demo purpose -->
<div
    class="container my-24 mx-auto md:px-6">
    <!-- Section: Design Block -->
    <section class="mb-32 text-center">
        <h2 class="mb-20 text-3xl font-bold">{{title}}</h2>

        <div class="lg:grid lg:grid-cols-3 lg:gap-12  justify-center align-middle">
            {% for cardContent in cardContents %}
                <div class="mb-12 lg:mb-0 {{loop.index == 4 ? 'col-start-2' : ''}}">
                    <div class="block h-full rounded-lg bg-white shadow-md shadow-amber-500/50 dark:bg-neutral-700">
                        <div class="flex justify-center">
                            <div class="-mt-8 inline-block rounded-full bg-primary-100 p-4 text-primary shadow-md">
                               <i class="fa-solid fa-{{cardContent.font}}"></i>
                            </div>
                        </div>
                        <div class="p-6">
                            <h5 class="mb-4 text-lg font-semibold text-primary-900">{{cardContent.title}}</h5>
                            <div class="text-left grid grid-cols-1 gap-4">
                            {% for text in cardContent.texts %}
                                <p>
                                   <i class="fa-solid fa-circle-check text-primary-700"></i> {{text}}
                                </p>                    
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <!-- Section: Design Block -->
</div>
<!-- Container for demo purpose -->
