<div class="flex items-center justify-center border-b-2 bg-amber-700 text-slate-200 border-neutral-200 p-6 dark:border-neutral-500 lg:justify-between">
    <div class="mr-12 hidden lg:block">
        <span>{% trans %}Pour découvrir toutes nos actualités, suivez-nous à travers nos réseaux sociaux :{% endtrans %}</span>
    </div>
    <!-- Social network icons container -->
    <div
        class="flex justify-center text-xl">
        {# Facebook #}
        <a href="https://www.facebook.com/profile.php?id=100076115382384" 
        class="mr-6 dark:text-neutral-200 text-primary-800">
           <i class="fa-brands fa-facebook-f"></i>
        </a>
        {# Instagram #}
        <a href="https://instagram.com/karaisone?igshid=YmMyMTA2M2Y=" class="mr-6 dark:text-neutral-200 text-amber-500">
          <i class="fa-brands fa-instagram"></i>
        </a>
        {# Inkedin #}
        <a href="https://www.linkedin.com/company/" class="mr-6 dark:text-neutral-200 text-sky-500">
            <i class="fa-brands fa-linkedin-in"></i>
        </a>
    </div>
</div>
