{% include "components/atoms/section_title.html.twig" with {
    title: 'Votre avis nous intéresse',
    typeInput: 'text'
} %}
<section id="form" class="grid grid-cols-1 p-6 mx-auto container rounded-lg bg-orange-50">
    <article>
        {{form_start(form)}}
        {% include "components/atoms/form/input.html.twig" with {
            input: form.nom,
        } %}
        {% include "components/atoms/form/input.html.twig" with {
            input: form.email,
            type: 'email'
        } %}
        {% include "components/atoms/form/input.html.twig" with {
            input: form.titre,
        } %}
        {% include "components/atoms/form/textArea.html.twig" with {
            input: form.message,
        } %}
        {% include "components/atoms/form/input.html.twig" with {
            input: form.note,
            type: 'number'
        } %}
        {% include "components/atoms/form/button_submit.html.twig" %}
        {{form_end(form)}}
    </article>
    <aside>
        {% include "components/molecules/accueil/commentaires.html.twig" %}
    </aside>
</section>
