<div class="container mx-auto px-5 py-2 lg:px-32 lg:pt-12">
    <div class="-m-1 flex flex-wrap md:-m-2">
        {% for image in images %}
            <div class="flex w-1/2 flex-wrap relative opacity-90 hover:opacity-75">
                <div class="w-full p-1 md:p-2">
                    <img alt="gallery" class="block h-full w-full rounded-lg object-cover object-center shadow-2xl" src="{{asset (image.path)}}"/>
                </div>
                <div class="absolute  right-0 bottom-50 left-0 h-full w-full overflow-hidden bg-fixed " >
                    <div class="flex h-full items-center justify-center" >
                        <div class="m-6 text-amber-500">
                            <h5 class="mb-3 text-3xl font-bold opacity-100">{{image.text}}</h5>                          
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
