{% embed "components/organisms/blue_background.html.twig" %}
    {% block content %}
        {% for divider in homeDividers %}
            <section data-aos="fade-up" class="relative mb-12 px-3 lg:mb-0  text-center">
                <div class="mb-2 flex justify-center">
                    <span class=" text-5xl text-amber-600">
                        <i class="{{divider.font}}"></i>
                    </span>
                </div>
                <h5 class="mb-6 text-sky-100 text-5xl font-extrabold">{{divider.title}}</h5>
                <h6 class="mb-0 font-bold text-2xl text-amber-700 dark:text-neutral-50">
                    {{divider.content}}</h6>
                <div class="p-1 absolute right-0 top-0 hidden h-full min-h-[1em] w-px self-stretch border-t-0 bg-gradient-to-tr from-transparent via-amber-600 to-transparent opacity-25 dark:opacity-100 lg:block"></div>
            </section>
        {% endfor %}
    {% endblock %}
{% endembed %}
