<!-- Container for demo purpose -->
<div
    class="container my-24 mx-auto md:px-6">
    <!-- Section: Design Block -->
    <section class="mb-32">
        <div class="flex flex-wrap">
            <div class="mb-12 w-full shrink-0 grow-0 basis-auto lg:mb-0 lg:w-5/12">
                <div class="flex lg:py-12">
                    <img src="{{asset (path)}}" class="w-full rounded-lg shadow-lg dark:shadow-black/20 lg:ml-[50px] z-[0]" alt="image"/>
                </div>
            </div>
            <div class="w-full shrink-0 grow-0 basis-auto lg:w-7/12">
                <div class="flex h-full items-center rounded-lg bg-amber-200 p-6 text-center text-primary-900 lg:pl-12 lg:text-left">
                    <div class="lg:pl-12">
                        <h2 class="mb-6 text-3xl font-bold">
                            {{title | default ('') }}
                        </h2>
                        <p class="mb-6 pb-2 lg:pb-0">
                            <div class="grid gap-6 grid-cols">
                                {% block content %}{% endblock %}
                            </div>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section: Design Block -->
</div>
<!-- Container for demo purpose -->
