{% extends 'base.html.twig' %}

{% block title %}
    Nos Services En Détails
{% endblock %}

{% block body %}
<section class="mb-40 justify-center items-center">
    <!-- Background image -->
    {% block image %}
        <div class="relative overflow-hidden bg-cover bg-no-repeat bg-[50%] bg-[url('../../public/images/quiSommesNous/hero.jpg')] h-[500px]">
        <h1 class="mb-6 mt-64 text-6xl font-bold text-center ">   
            {{descriptions.titre}}
        </h1>
        </div>
        
    {% endblock %}
    
<!-- Background image -->

    <div class="block w-auto rounded-lg bg-white text-left shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
        <div class="p-6">
            <p class="text-base text-neutral-600 dark:text-neutral-200">
                {{ descriptions.detail|trans|raw }}
                    
            </p>
        </div>
    </div>
    <div class="flex justify-center my-12">
        {% include "components/atoms/button.html.twig" %}
    </div>
    
</section>




{% endblock %}

