{% extends 'base.html.twig' %}

{% block title %}
    Notre Porfolio
{% endblock %}

{% block body %}
    {% if images|length > 0 %}
        <div class="flex min-h-screen w-full flex-wrap content-center justify-center p-5 bg-gray-200">
            <div class="grid grid-cols-2 gap-3">
                {% for image in images %}
                    <div class="w-full bg-white p-3 rounded-lg">
                        <img class="h-auto w-full object-cover rounded-lg" src="{{ asset('pictures/thumbnails/' ~ image.imageName) }}" />
                        <ul class="mt-3 flex flex-wrap justify-center">
                            <li class="text-center">
                                <div class="flex text-gray-400 hover:text-gray-600">
                                    <h3>
                                        {{ image.nom }}
                                    </h3>
                                </div>
                            </li>
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div style="height: 400px; margin-top: 200px">
                <h1 class=" text-5xl text-center font-medium leading-tight">
                    Il n'y a pas encore d'image pour cette album                    
                </h1>
            </div>
        {% endif %}

        <div class="flex justify-center my-12">
        {% include "components/atoms/buttonImage.html.twig" %}
    </div>

    {% endblock %}
    