{% extends 'base.html.twig' %}

{% block title %}
    Hello RealisationsController!
        
        
    
{% endblock %}

{% block body %}

    <div class="flex min-h-screen w-full flex-wrap content-center justify-center p-5 bg-gray-200">
        <div class="grid grid-cols-2 gap-3">
            {% for album in albums %}
                <div class="w-full bg-white p-3 rounded-lg">
                <a href="{{ path('app_images',{'id': album.id}) }}">
                    <img class="h-auto w-full object-cover rounded-lg" src="{{ asset('presentations/' ~ album.presentationName) }}" />
                </a>
                    <ul class="mt-3 flex flex-wrap justify-center">
                        <li class="text-center">
                            <a href="{{ path('app_images',{'id': album.id}) }}" class="flex text-gray-400 hover:text-gray-600">
                                <h3>
                                    {{ album.nom }}
                                </h3>
                            </a>
                        </li>
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
