{% extends 'irve/layout.html.twig' %}
{% block title %}
    {% trans %}Page IRVE, société KARAISONE{% endtrans %}
{% endblock %}
{% block body %}
    {% include "components/atoms/section_title.html.twig" with {
        title: "Infrastucture de recharge de véhicules électriques"
    } %}
    {% embed "components/molecules/image_left_text_right.html.twig" with {
        path: "images/irve/11062b_09ddade15121476995a4f6f839ea6b4b~mv2.webp",
    } %}
        {% block content %}
            <h2>
                {{heroTexts.title | trans}}
            </h2>
            {% for text in heroTexts.p %}
                <p>
                    {{text | trans}}
                </p>
            {% endfor %}
        {% endblock %}
    {% endembed %}
    {% include "components/molecules/flex_card.html.twig" with {
        title: "Nous proposons ces principaux services"
    } %}
    {% embed "components/molecules/image_left_text_right.html.twig" with {
        path: "images/irve/11062b_41884d0c6bbb4a6d8f1fdb654f93670b~mv2.webp",
    } %}
        {% block content %}
            {% for text in middleTexts.p %}
                <p>
                    {{text | trans}}
                </p>
            {% endfor %}
        {% endblock %}
    {% endembed %}
    <div class="container my-24 mx-auto md:px-6">
        <section class="mb-32">
            <style>
                .zoom:hover img {
                    transform: scale(1.1);
                }
            </style>
            <h2 class="mb-12 text-center text-3xl font-bold">{% trans %}Type d'installation{% endtrans %}
            </h2>
            <div class="grid gap-6 lg:grid-cols-3">
                {% for card in galeries %}
                    <div class="zoom relative overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-lg dark:shadow-black/20" data-te-ripple-init data-te-ripple-color="light">
                        <img src="{{asset (card.path)}}" class="w-full h-full align-middle transition duration-300 ease-linear"/>
                        <a href="#!">
                            <div class="absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-[hsla(0,0%,0%,0.4)] bg-fixed">
                                <div class="flex h-full items-end justify-center">
                                    <div class="m-6 text-white">
                                        <h5 class="mb-3 text-lg font-bold">{{card.content | trans}}</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed transition duration-300 ease-in-out hover:bg-[hsla(0,0%,99%,0.15)]"></div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
    {% include "components/molecules/irve/footPage.html.twig" %}
{% endblock %}
