{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!
{% endblock %}

{% block body %}
    <!-- Container for demo purpose -->
    <div
        class="container my-2 mx-auto md:px-6">
        <!-- Section: Design Block -->
        <section class="mb-32">
            <div class="relative h-[200px] overflow-hidden bg-cover bg-[50%] bg-no-repeat bg-[url('https://mdbcdn.b-cdn.net/img/new/textures/full/171.jpg')]"></div>
            <div class="container px-1 md:px-12">
                <div class="block rounded-lg bg-[hsla(0,0%,100%,0.7)] px-6 py-12 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-[hsla(0,0%,5%,0.7)] dark:shadow-black/20 md:py-16 md:px-12 -mt-[100px] backdrop-blur-[30px]">
                    <h2 class="text-2xl font-serif font-bold text-center">
                        Contactez-nous
                    </h2>
                    <p class="text-center py-6">
                        Pour toute question, appelez-nous ou envoyez-nous un message via le formulaire ci-dessous.
                    </p>
                    <div class="mb-12 grid gap-x-6 md:grid-cols-2 lg:grid-cols-3">
                        {% for header in headers %}
                            <div class="mx-auto mb-12 text-center lg:mb-0">
                                <i class="fa-solid fa-{{header.font}} text-3xl text-amber-700 py-2"></i>
                                <h6 class="font-medium">{{header.text | raw}}</h6>
                            </div>
                        {% endfor %}

                    </div>
                    <!-- Container for demo purpose -->

                    <!-- Container for demo purpose -->

                    <div
                        class="mx-auto max-w-[700px]">
                        {# templates/task/new.html.twig #}


                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success">
                                <div class="mb-3 inline-flex w-full items-center rounded-lg bg-success-100 px-6 py-5 text-base text-success-700" role="alert">
                                    <span class="mr-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="currentColor" class="h-5 w-5">
                                            <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd"/>
                                        </svg>
                                    </span>
                                    {{message}}
                                </div>
                            </div>
                        {% endfor %}

                        {{form_start(form)}}

                        {% include "components/atoms/form/select.html.twig" with {
                            "input": form.sujet
                        } %}


                        {% include "components/atoms/form/input.html.twig" with {
                                "typeInput": 'text',
                                "input": form.nom
                            } %}

                        {% include "components/atoms/form/input.html.twig" with {
                                "typeInput": 'email',
                                "input": form.email
                            } %}

                        {% include "components/atoms/form/input.html.twig" with {
                                "typeInput": 'tel',
                                "input": form.telephone
                            } %}


                        {% include "components/atoms/form/textArea.html.twig" with {
                                "input": form.message,
                                "typeInput" : 'textarea',
                                "row": 8
                            } %}

                        {#   {% include "components/atoms/form/fileInput.html.twig" with {
                                                                                                        "input": form.file
                                                                                                    } %} #}

                        {{form_row(form.file)}}

                        <div class="h-full flex justify-center items-center">
                            <button class="mb-3 mt-3 w-1/2 inline-block rounded px-6 pb-2 pt-2.5 text-xs bg-gradient-to-r from-cyan-500 to-blue-500 font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_rgba(0,0,0,0.2)] transition duration-150 ease-in-out hover:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:outline-none focus:ring-0 active:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)]" type="submit" data-te-ripple-init data-te-ripple-color="light">
                                {{buttonContent |default('Valider') | trans }}
                            </button>
                        </div>
                        {{form_end(form)}}


                        <div class="mt-10 grid gap-x-6 md:grid-cols-3 lg:gap-x-12 text-xl">
                            <div class="mb-6 flex justify-center text-3xl text-primary-500">
                                <i class="fa-brands fa-linkedin "></i>
                            </div>
                            <div class="mb-6 flex justify-center  text-3xl">

                                <i class="fa-brands fa-square-facebook text-primary-700"></i>
                            </div>
                            <div class="mb-6 flex justify-center  text-3xl">
                                <i class="fa-brands fa-square-instagram text-orange-600"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section: Design Block -->
    </div>
    <!-- Container for demo purpose -->
{% endblock %}
