<!-- Section: Design Block -->
<section
    class="mb-40">
    <!-- Background image -->
    {% block image %}
        <div class="relative overflow-hidden bg-cover bg-no-repeat bg-[50%] bg-[url('../../public/images/quiSommesNous/hero.jpg')] h-[500px]"></div>
    {% endblock %}
    <div class="w-100 mx-auto px-6 sm:max-w-2xl md:max-w-3xl md:px-12 lg:max-w-5xl xl:max-w-7xl xl:px-32">
        <div class="text-center">
            <div class="block rounded-lg bg-[hsla(0,0%,100%,0.55)] px-6 py-12 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-[hsla(0,0%,5%,0.55)] dark:shadow-black/20 md:py-16 md:px-12 mt-[-170px] backdrop-blur-[30px]">
                {% include "components/atoms/section_title.html.twig" with {
                  title: title
                } %}
                <p class="mb-4 mt-0 text-base font-light leading-relaxed">
                    {% block content %}
                        {{text | default('')}}
                    {% endblock %}
                </p>
            </div>
        </div>
    </div>
    <!-- Background image -->
</section>
<!-- Section: Design Block -->
