<div class="relative float-left -mr-[100%] w-full !transform-none opacity-0 transition-opacity duration-[600ms] ease-in-out motion-reduce:transition-none" data-te-carousel-fade data-te-carousel-item {{ loop.index0 == 0 ? 'data-te-carousel-active' : ''}}>
    <img src="{{asset (image.path)}}" class="block object-cover max-h-screen w-full" alt="{{image.alt}}"/>
    {% if image.path == "images/carousels/energie.jpg" %}
         <div class="font-serif font-extrabold absolute inset-x-[15%] top-10 lg:top-40 py-5 text-center block lg:text-5xl sm:text-xl text-white shadow-2xl">
        <h3>
            {% trans %}NOUS FAISONS DE VOS PROJETS UNE RÉALITÉ AVEC UNE OFFRE DE SERVICE GLOBALE{% endtrans %}
        </h3>
    </div>
    {% else %}
        <div class="font-serif font-extrabold absolute inset-x-[15%] top-10 lg:top-40 py-5 text-center block lg:text-5xl sm:text-xl text-dark-900 shadow-2xl">
        <h3>
            {% trans %}NOUS FAISONS DE VOS PROJETS UNE RÉALITÉ AVEC UNE OFFRE DE SERVICE GLOBALE{% endtrans %}
        </h3>
    </div>
    {% endif %}
    
</div>
