<div class="relative max-w-xs overflow-hidden bg-cover bg-no-repeat rounded-lg">
    <img src="{{asset (path)}}" class="max-w-xs" alt="Louvre"/>
    <div class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-gradient-to-r from-amber-500 via-orange-500 to-sky-500 opacity-0 transition duration-300 ease-in-out hover:opacity-70"></div>
</div>
