<li
    class="mb-4 lg:mb-0 lg:pr-2 uppercase" data-te-nav-item-ref>          

    <!-- Dashboard link -->
    <a class=" 
    {{href is defined and href == app.request.get('_route') ? 'pt-1 border-orange-400 text-orange-400 border-t-4' : 'lg:border-blue-500 lg:border-t pt-1 lg:hover:border-t-4 lg:hover:border-orange-400 text-primary-500 transition duration-200 hover:text-orange-400 hover:ease-in-out focus:text-orange-400 disabled:text-black/30 motion-reduce:transition-none dark:text-neutral-200 dark:hover:text-neutral-300 dark:focus:text-neutral-300 lg:px-2 [&.active]:text-black/90 dark:[&.active]:text-zinc-400' }}" 
    href="{{path (href | default ('app_home'))}}" data-te-nav-link-ref>{{texte | trans}}</a>
</li>
