<ul class="absolute z-[1000] float-left m-0 hidden min-w-max list-none overflow-hidden rounded-lg border-none bg-white bg-clip-padding text-left text-base shadow-lg dark:bg-neutral-700 [&[data-te-dropdown-show]]:block" aria-labelledby="{{text.id}}" data-te-dropdown-menu-ref>
    {% for li in text.dropdown %}
        <li>
     
            <a class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-neutral-600" href=" {{text.href is defined ? path (text.href ) : '#'}}" data-te-dropdown-item-ref>
                {{li.title}}
            </a>
        </li>
    {% endfor %}
</ul>
