<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% set content = "La meilleure offre de transport écologique sur Beauvais" %}
        <meta name="description" content="{{content | trans}}">
        <title>
            {% block title %}Welcome!
            {% endblock %}
        </title>
        <link rel="apple-touch-icon" class="rounded-full" sizes="192x192" href="{{asset ('images/favicon_io/favicon-192x192.png')}}">
        <link rel="icon" type="image/png" class="rounded-full" sizes="32x32" href="{{asset ('images/favicon_io/favicon-32x32.png')}}">
        <link rel="icon" type="image/png" class="rounded-full" sizes="16x16" href="{{asset ('images/favicon_io/favicon-16x16.png')}}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </head>
    <body>
        {% block header %}
            {% include "components/elements/navbar.html.twig" %}
        {% endblock %}
        {% block pathRoute %}
            {% set current_path = app.request.get('_route') %}
        {% endblock %}
        {% block alert %}{% endblock %}
        {% block body %}{% endblock %}
        {% block back %}
            {% include "components/atoms/back_to_top.html.twig" %}
        {% endblock %}
        {% block footer %}
            {% set current_path = app.request.get('_route') %}
            {{ render(controller(
                'App\\Controller\\HomeController::footer'
            )) }}
            
        {% endblock %}
    </body>

</html>
