<footer
    class="bg-neutral-100 text-center text-neutral-600 dark:bg-neutral-600 dark:text-neutral-200 lg:text-left">
    {# Reseaux sociaux #}
    {% include "components/molecules/footer_social_network.html.twig" %}

    <div class="py-10 text-center md:text-left bg-primary-900 text-primary-100">
        <div
            class="lg:mx-5 grid-1 grid gap-8 md:grid-cols-2 lg:grid-cols-3">
            <!-- Section plan du site -->
            {% include "components/atoms/footer/footer_plan_site.html.twig" %}

            {% include "components/atoms/footer/footer_contact.html.twig" %}

            <div>
                <h6 class="mb-4 flex justify-center font-semibold uppercase md:justify-start">
                    {% trans %}Nos Qualifications{% endtrans %}
                </h6>
                <div class="flex flex-wrap justify-evenly">
                    <div class="flex w-1/3 flex-wrap">
                        {% include "components/atoms/image_gradiant.html.twig" with {
                            path: 'images/footer/Qualification_4_CLR.webp'
                        } %}
                    </div>

                    <div class="flex w-1/3 flex-wrap">
                       {% include "components/atoms/image_gradiant.html.twig" with {
                        path: 'images/footer/Qualification_5_CLR.webp'
                       } %}
                    </div>
                </div>

            </div>

            <!--Copyright section-->
        </div>
    </div>
    <div class="bg-primary-200 text-black p-6 text-center dark:bg-neutral-700">
        <span>Karaisone</span>
        <span>© 2023 Copyright</span>
        <a href="{{path('admin')}}">
            <i class='fa-regular fa-circle-user'></i>
        </a>
    </div> 
    
</footer>



