{% embed "components/organisms/section.html.twig" with {
    title: 'Ils nous ont fait confiance'
} %}
    {% block content %}
        {% for image in partenaireImages %}
            <div class="w-full p-1 md:p-2">
                <img alt="{{image.alt}}" class="block w-full rounded-lg" src="{{image.path}}"/>
            </div>
        {% endfor %}
    {% endblock %}
{% endembed %}
