<section class="min-h-96">
    {% include "components/atoms/section_title.html.twig" %}
    <div class="lg:flex justify-center items-center py-12 grid grid-rows-4 grid-flow-col gap-4"> {% block content %}{% endblock %}
        </div>
    </section>
