<!-- Container for demo purpose -->
<div
    class="container my-24 mx-auto md:px-6">
    <!-- Section: Design Block -->
    <section class="mb-32">
        <div class="grid grid-cols-1 gap-10 place-items-center">
            <p class=" text-md font-bold tracking-tight">
                <span class="text-primary dark:text-primary-400">Chez KARAISONE, nous garantissons un service et une expertise de qualité à nos clients. Notre équipe de techniciens est hautement qualifiée et expérimentée dans l'installation et l'entretien de systèmes de recharge de véhicules électriques. Nous proposons des prix compétitifs et des options de financement flexibles. Grâce à notre qualification QUALIFELEC, vous avez la possibilité de financer votre projet d'installation de borne de recharge de véhicule électrique par le biais du programme ADVENIR qui augmente considérablement votre budget.</span>
            </p>
            <a class="mb-2 inline-block rounded bg-warning px-12 pt-4 pb-3.5 text-sm font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-warning-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-warning-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-warning-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] md:mr-2 md:mb-0" data-te-ripple-init data-te-ripple-color="light" href="{{path('app_home')}}" role="button">Obtenir une prime d'installation</a>     
        </div>
    </section>
    <!-- Section: Design Block -->
</div>
<!-- Container for demo purpose -->