{% extends 'qui_sommes_nous/layout.html.twig' %}

{% block title %}Hello QuiSommesNousController!
{% endblock %}

{% block body %}
    {% include "components/molecules/qui/hero.html.twig" with {
        text:
            "Société Française à responsabilité limitée, KARAISONE est établie à PONTOISE et se spécialise dans les travaux de rénovation intérieur tout corps d'état, l'énergie et les télécommunications.
            KARAISONE a été créée en 2015 de la volonté d'un groupe d'électriciens suite au lancement du projet de déploiement des compteurs LINKY en France.  
            Ce projet nous a fait prendre conscience de l'ampleur que prendrait la transition énergétique et numérique dans les années à venir dans la manière de gérer la consommation énergétique de façon intelligente, numérique et autonome.                   
            Au cours de cette expérience, nous avons compris que nous pouvions allier notre savoir-faire dans l'Energie et les télécommunications à celui de la rénovation immobilière pour proposer des solutions écoresponsables adaptées à la transition énergétique et numérique.",
        title: "Historique"
    } %}
    {% include "components/molecules/blurText.html.twig" with {
        path: imageHistorique.path,
        alt: imageHistorique.alt,
        text: "Aujourd'hui, nous avons pour mission de fournir des solutions innovantes et durables pour répondre aux besoins de nos clients. Nous offrons des services de haute qualité pour les projets de rénovation immobilière et énergétique, en mettant l'accent sur la qualité de la finition et l'efficacité énergétique. Notre équipe est composée de professionnels qualifiés et expérimentés dans leur domaine respectif, tels que. Nous travaillons en étroite collaboration avec nos clients pour comprendre leurs besoins et leurs attentes, et nous leur proposons des solutions sur mesure pour répondre à leurs exigences. Nous sommes engagés dans la promotion du développement durable et de l'efficacité énergétique. Nous avons ainsi développé une expertise dans l'installation de systèmes d'énergie écoresponsable tels que les IRVE, les compteurs LINKY, les modules de délestage... Nous proposons également des solutions pour réduire la consommation d'énergie des bâtiments existants, en optimisant l'isolation et l'éclairage. Chez KARAISONE, nous nous engageons à fournir des services de haute qualité à des prix compétitifs, en respectant les délais convenus. Nous sommes fiers de la qualité de notre travail et nous nous engbluageons à fournir des solutions durables et respectueuses de l'environnement. Confiez-nous votre projet, nous le concrétiserons dans le respect du cahier des charges et des normes en vigueur, nous serons ravis de vous proposer des solutions personnalisées et adaptées à votre besoin."
    } %}

    {% embed "components/molecules/blurText.html.twig" with {
        path: imageOrganigramme.path,
        alt: imageOrganigramme.alt
    } %}
        {% block title %}
            {% include "components/atoms/section_title.html.twig" with {
                title: 'Notre organisation',
                color:'text-neutral-100'
            } %}
        {% endblock %}

    {% endembed %}


{% endblock %}
