<figure class="md:flex justify-evenly items-center">
    <img src="{{ asset('images/serviceClient/_891396fb-e1c5-4f75-88e1-8944c6fa757a.jpeg') }}" class="py-3 mb-6 h-[200px] rounded-lg shadow-lg dark:shadow-black/20" alt="image"/>
    <p class="font-mono font-extrabold text-xl">Note Globale:
        {{note | number_format (2)}} / 5</p>
    {% include "components/atoms/modal.html.twig" %}
</figure>

{% include "components/atoms/commentairesItem.html.twig" with {
  commentaires : bestCommentaires
} %}
