<div class="min-h-60 bg-primary-900">
    {% include "components/atoms/section_title.html.twig" with {
        title: 'Qualifications',
        color: 'text-slate-100'
    } %}
    <div class="h-full flex justify-evenly py-10">
        {% for qualification in qualifications %}
            <figure>
                <div class="h-60 p-1 md:p-2">
                    <img alt="{{qualification.alt}}" class="block h-full w-full rounded-lg object-cover object-center" src="{{asset (qualification.path)}}"/>
                </div>
            </figure>
        {% endfor %}
    </div>
</div>
