<div class="min-h-60">
    {% include "components/atoms/section_title.html.twig" with {
        title: 'Zone d\'implantation'
    } %}
    <div class="w-full flex justify-evenly py-10">
        {% for zoneImplantation in zoneImplantations %}
            <figure>
                <div class="w-full p-1 md:p-2">
                    <img alt="{{zoneImplantation.alt}}" class="block h-full w-full rounded-lg object-cover object-center" src="{{asset (zoneImplantation.path)}}"/>
                </div>
            </figure>
        {% endfor %}
    </div>
</div>
